Stocker/.vs/Stocker/v14/.suo
Stocker/packages/
Stocker/Stocker/Stocker.csproj.user
Stocker/Stocker.WebApi/obj/
Stocker/Stocker.WebApi/bin/
Stocker/Stocker/bin/
Stocker/Stocker/obj/
Stocker/Stocker.WebApi.Tests/bin/
Stocker/Stocker.DataModel/bin/
Stocker/Stocker.DataModel/obj/
Stocker/Stocker.WebApi.Tests/obj/
Stocker/Stocker.Tests/obj/
